@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Refresh Data with signalR</h1>
    <p></p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Machine Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
